body{
  background-color: aquamarine;
  background: url(/static/imagens/img.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

div#form_fundo{
  backdrop-filter: blur(10px);
  opacity: .9;
  margin: 10% 25px 25px 25px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 2px 5px 5px black;
  padding: 2px;
}

div#form_frente{
  background-color: white;
  margin: 20% 20px 20px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 2px 5px 5px black;
  padding: 10px 1px;
}
div.invalido{
  background: red;
  text-align: center;
  border-radius: 30px;
  font-weight: bold;
}

label{
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
}

input{
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
}

input:focus{
  background-color: blue;
  color: white;
}

button{
  background-color: black;
  font-size: 20px;
  color: white;
  border-radius: 20px;
}
button:hover{
  background-color: white;
  color: black;
}
strong{
  color:white;
  text-align: center;
  font-size: 15px;
}